<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<p>Add a menu item</p>
<div class="menu_item_card">
  <%= render 'menu_item_form', menu_item: @menu_item, restaurant: @restaurant %>
</div>
