<section>

<h2>New Account</h2>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>


<%= render 'form_users', user: @user%>
</section>  
