<div class="container">
<h1>Welcome first_name  last_name</h1>
<hr>
<div class="row">
  <img src="http://www.aspirehire.co.uk/aspirehire-co-uk/_img/profile.svg" id="profile-pic" class="thumbnail col-md-3">
    <div class="thumbnail col-md-6 profile-info">
      <div class="profile-user-info">
        <p>
        <strong>Name:</strong>
        </p>
        <p>
        <strong>Email:</strong>
        </p>
      </div>
    </div>
</div>
<%= link_to "Edit Profile", edit_users_path %>
<hr>
<h3> Current Reservations </h3>









<hr>
</div>
