Welcome reyes@gmail.com!

Restaurant: Yummy in my tummy
Max capacity: 50

Upcoming reservations (this week):

date time table
date time table
date time table
date time table
date time table
date time table
date time table
date time table
date time table


Your favorite customers:

jimmy (10 loyalty points)
jimmy (10 loyalty points)
jimmy (10 loyalty points)
jimmy (10 loyalty points)
jimmy (10 loyalty points)

<h1>Welcome <%= @user.email</h1>
