<h2>Upcoming Reservations</h2>
<%= link_to("Edit", edit_users_path) %>

<% reservations = Reservation.where( user_id: @user.id) %>
<ul>
<% reservations.each do |reservation| %>
<li><%= "You have a reservation at #{Restaurant.find_by(id: reservation.restaurant_id).name} on #{reservation.date_time.strftime("%A")} #{reservation.date_time.strftime("%B")} #{reservation.date_time.day} for #{reservation.party_size} people" %>  | Edit </li>
<%end %>
</ul>

<h3>Restaurants</h3>
<% @restaurants.each do |current_restaurant| %>
	<%= render 'restaurants/single_restaurant', restaurant: current_restaurant %>
<% end %>
<%= link_to("New Restaurant", new_restaurant_path)%>
