<h1><%= current_user.name %></h1>
<div class="">
<%= current_user.email %>
</div>


<%  @restaurants.each do |restaurant| %>
<ul>
<li>  <%= restaurant.name %> </li>
<%= link_to("Edit", edit_restaurant_url(restaurant)) %>
<% end %>
