<header> <h1 class = 'welcome'>seat<span>|</span>yourself</h1>


<li class ='restaurants_button'>
<%= form_tag(restaurants_path, method: :get) do %>
 <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name:nil %>
  </li>
<% end %>



<h1 class = 'slogan'>Find your table!</h1>

<div class="search_icon">
<%= image_tag("search.png",  {:style => "width:50px;"}) %>
</div>
