<h1>List of Reservation</h1>

<ul>
<% @restaurant.reservations.each do |reservation| %>
  <li>
    Reservation:
  <%= link_to "#{reservation.restaurant.name}", restaurant_reservation_path(@restaurant.id, reservation.id) %> on
  <%= reservation.reserved_time.strftime('%A, %B %C, %G at: %I:%M %p') %>
  </li>
<% end %>
</ul>
