<h1>My Reservations</h1>

<ul>
      Your reservations are as follows:
      <br>
      <br>
<% @reservations.each do |reservation| %>



    <li>at <%= reservation.time %>00 on <%= reservation.date %> - <%= reservation.restaurant.name %> </li>


<% end %>
</ul>
<!-- # Define the variables in reservations controller -->
