<%= link_to restaurants_url do %>
 <div class="logo">
     <%= image_tag 'seatyourself_logo.png', width: 200, height: 55, alt: 'logo'%>
 </div>
<% end %>

<h1 class="reservation-title">MAKE A RESERVATION</h1>

<%= render 'form' %>

<!-- <footer>
  <p class="designed-by">DESIGNED BY TEAM BEKS</p>
</footer> -->
