<h1>Add a Reservation for NAMEHOLD</h1>

<div>
<%= form_for [@restaurant, @reservation] do |f| %>
  <p>
    <%= f.label :reserved_time %> <br>
    <%= f.datetime_field :reserved_time %>
  </p>

  <p><%= f.submit 'Make Reservation' %></p>

<% end %>
</div>
