<%= link_to "Seatyourself", restaurants_url %>

<h1 class="reservation-title">MAKE A RESERVATION</h1>

<%= render 'form' %>

<!-- <footer>
  <p class="designed-by">DESIGNED BY TEAM BEKS</p>
</footer> -->
