<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<p>Edit your restaurant</p>
<%= render 'restaurant_form',
restaurant: @restaurant %>
<%= link_to("Delete this Restaurant", "/restaurant/#{@restaurant.id}", method: :delete, data: {confirm: "Are you sure you want to delete your restaurant?"})  %>
