
<h1>Restaurants</h1>
<br>
<% if current_user != nil %>
  <%= link_to "See Reservations", users_path(:id) %>
  <%end %>
  <br>

<% @restaurants.each do |current_restaurant| %>
	<%= render 'single_restaurant', restaurant: current_restaurant %>
<% end %>
<%= link_to("New Restaurant", new_restaurant_path)%>
