<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<img src="assets/shop.svg" class="svg"><h2 class="title">Restaurants</h2>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <div class="restaurant_card">
        <%= render 'restaurant_short', restaurant: restaurant %>
      </div>
    </li>
  <% end %>
</ul>
