<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="container"><img src="assets/covered-food-tray-on-a-hand-of-hotel-room-service.svg" class="logo_2"><h2 class="title">Restaurants</h2></div>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <div class="restaurant_card">
        <%= render 'restaurant_short', restaurant: restaurant %>
      </div>
    </li>
  <% end %>
</ul>
