
<div class="restaurant_index">
  <h1>Restaurants</h1>
  <div class="restaurant_list">
    <% @restaurants.each do |restaurant| %>
    <ul>
      <li><%= link_to"#{restaurant.name}", restaurant_url(restaurant) %></li>
      <li><%= link_to(image_tag(restaurant.picture_url), "/restaurants/#{restaurant.id}") %></li>
    </ul>
    <% end %>
  </div>
</div>
