<h1>Index Page</h1>
<%= link_to "Signup", new_users_path %>
<% @restaurants.each do |restaurant| %>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <h3><%= restaurant.neighbourhood %></h3>
<% end %>
