<p>Restaurants:</p>
<ul>
  <% @restaurants.each do |restaurant| %>
  <%= render 'restaurant',
  restaurant: restaurant %>
  <%= link_to 'details', restaurant_path(restaurant.id)%>

  <% end %>
  <p>
    <%= link_to 'Sign Up!', new_users_path%>
    <%= link_to 'Login', new_sessions_path%>
  </p>
</ul>
