<h1>Restaurant Show Page</h1>

<!-- # Display Menu, Name, Address, Neighbourhood, Price Range, Summary, Picture
      # we need a partial_view form for adding new reservations

    # Define global variables in the restaurant controller
    # Display them in this view
    # create a new partial_view in side the reservation view folder
    # display the new reservation partial view in this (show.html.erb) view


     -->


<%= render '/reservations/reservation_form', reservation: @reservation %>
<%=  render 'single_restaurant_menu', a_restaurant: @restaurant%>
