<%= link_to("Back", restaurants_path)  %>

<%= render 'restaurants/single_restaurant', restaurant: @restaurant %>

<% if current_user != nil %>
  <% if current_user.id == @restaurant.user_id %>
	 <%= link_to("Edit", edit_restaurant_url(@restaurant.id)) %>
  <% end %>
  <br>
<% end %>


<h4>Make a reservation</h4>

<%= render 'reservations/form', restaurant: @restaurant, reservation: @reservation %>
