<h1>Seat Yourself</h1>
<ul>
<li><%= @restaurant.name %></li>
<li><%= @restaurant.phone %></li>
<li><%= @restaurant.address %></li>
<li><%= @restaurant.url %></li>
</ul>

<!-- <p>Find me in app/views/restaurants/show.html.erb</p> -->
