$font-family-helvetica: Helvetica, Arial, sans-serif;

$color-black: #000;
$color-blue: #016297;

html{
  box-sizing: border-box;

  body {
    position: relative;

    a {
      color: $color-black;
      text-decoration: none;
    }

    a:hover {
      color: $color-blue;
    }

    h1, h2, h3, h4, h5, a {
      font-family: $font-family-helvetica;
      font-weight: 200;
    }

    header {
      display: grid;
      grid-template-columns: 1fr 1fr;

      nav {
        justify-self: right;
        padding: 15px;
      }
    }

    footer {
      text-align: center;
    }
  }

}
