/*html
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   color: rgba(255, 255, 255, 0.8);
 }

 body {
   background-image: url('https://www.thechediandermatt.com/images/content/mood/Big/The-Chedi-Andermatt-RESTAURANT-Main-Dining-03.jpg');
   background-repeat: no-repeat;

   box-sizing: border-box;
 }

.welcome {
     font-size: 3.5em;
     background-color:rgba(255,255,255,0.3);
     text-align: center;
     padding: .5em;
     font-weight: bolder;
     color:brown;
   }

.welcome span {
    color: rgba(255,215,0,0.7);

   }


.user_info  {
  color: ;
  background-color:rgba(255,255,255,0.7);
  font-size: 1em;
  display: block;
  text-align: left;
  margin: 0 auto;

}

section {
  background-color: rgba(255,255,255,0.3);
  display: inline-block;
  padding: 2em;
  margin-left: 6em;
  margin-right: 6em;
}

.name a {
  text-decoration: none;
  color: white;
  font-size: 5em;
}

.name a:hover{
  color: black;
  font-weight: bold;
}

section .name:hover {
  text-decoration-color:
}

.signup {
  text-align: center;
}
.signup input {
  font-size: 1em;
}

.individual_restaurant{
  background-color: rgba(255,255,255, 0.3);
  color: black;
}

.individual_restaurant img {
  width: 200px;
  grid
}
