/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_normlize-rails
 *= require_tree .
 *= require_self
 */

.nav_bar_top {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
}

.nav_bar_top a {
  color: #ffffff;
}

.nav_bar_top ul {
  margin-top: 0
}

.user {
  text-align: right;
}

.user p {
  font-size: 0.8em;
  font-family: sans-serif;
  color: #ffffff;
  margin: 0px;
  padding: 0 20px 0 0;
  z-index: 100;

}

li {
  display:inline-block;
  padding: 1em;

}

.main_banner {
  width: 100%;
}
