* {
  box-sizing: border-box;
  margin: 0;
  font-family: helvetica;
}

.nav-bar {
  float: right;
  margin: 10px;
  padding: 0;
}

.nav-item {
  display: inline;
  text-decoration: none;
  text-transform: capitalize;
  color: gold;
  margin: 10px;
}

.home-background img {
  width: 100%;
  height: 600px;
  opacity: .5;
}

#welcome-page {
  position: absolute;
  left: 300px;
  top: 300px;
  z-index: 2;
  color: white;
  font-size: 80px;
}

#welcome-page2 {
  position: absolute;
  left: 100px;
  top: 500px;
  z-index: 5;
  color: white;
  font-size: 10px;
}

 /* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.new_user {
  font-family: Graphik, Helvetica, sans-serif;
  font-weight: lighter;
  border: 3px solid #AF9C7B;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 200px;
  text-align: center;
}
 h1 {
   text-align: center;
   font-family: Graphik, Helvetica, sans-serif;
   font-weight: lighter;
 }

.userinfo {
  font-family: Graphik, Helvetica, sans-serif;
  font-weight: lighter;
}
