/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*  Variables */
$wine : #722F37;
$charcoal: #1B1C1C;
$logo-font: 'Roboto Slab', serif;
$white: #ffffff;

/* Layout Start */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $wine;
}

header {
    position: relative;
    height: 70px;
    background-color: $charcoal;
    color: $white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    align-content: space-around;
}

h1 {
  padding-left: 75px;
  font-family: $logo-font;
  display: inline-block;
}

h1 > a {
  opacity: 1;
  transition: opacity 0.5s;
}
h1 > a:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.logo {
   display: inline-block;
   position: absolute;
   padding-left: 30px;
   padding-top: 8px;
   height: 30px;
   width: 30px;
 }

 .svg {
    height: 30px;
    width: 30px;
    display: inline-block;
  }

 .nav {
    display: inline-block;
    padding: 10px 40px;
    color: $white;
    text-decoration: none;
    text-align: right;
 }

 header > a, h1 >a, nav > a {
     color: $white;
 }

 .nav > a {
   opacity: 1;
   transition: opacity 0.5s;
 }

 .nav > a:hover {
   opacity: 0.5;
   transition: opacity 0.5s;
 }

 a {
    text-decoration: none;
 }

// footer {
//     background-color: $charcoal;
//     width: 100%;
//     height: 65px;
// }

li {
    list-style: none;
}
/* Layout End */


/* Landing Page Start */

.hero {
    height: 100vh;
    background-image: url("hero_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Landing Page End */


/* Might Use this for ALL show cards */
/* Restaurant Index Start */
.container {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 15px;
}

.container > h2 {
  color: $white;
}

h2 {
  display: inline-block;
  vertical-align: middle;
}

.logo_2 {
   padding-right: 15px;
   vertical-align: bottom;
   height: 30px;
   width: 30px;
 }

.restaurant_short {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 60px 60px;
  padding: 15px 30px 30px 15px;

}

.restaurant_short > .about {
  grid-column-start: 2;
  grid-row: 1/4;

}

.card_header {
  color: $wine;
  padding-bottom: 5px;
  padding-left: 15px;
  border-bottom: 1px solid lightgrey;
}

.p {
  color: $wine;

}

.details > a {
  background-color: $wine;
  color: white;
  padding: 5px;
  margin: 5px 0px 0px 15px;
  border-radius: 5px;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.5s;
  }

  .details > a:hover {
    opacity: 0.7;
    transition: opacity 0.5s;
  }
/* Restaurant Index End */









/* Form Start */
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 60px;
  padding: 15px 30px 30px 15px;

}

.form > p {
  color: $wine;
}



.container {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 15px;
}

.container > h2 {
  color: $white;
}

h2 {
  display: inline-block;
  vertical-align: middle;
}



.restaurant_short {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 30px 30px 15px;
  grid-template-rows: 60px 60px;

}

.restaurant_short > .about {
  grid-column-start: 2;
  grid-row: 1/4;

}

.card_header {
  color: $wine;
  padding-bottom: 5px;
  padding-left: 15px;
  border-bottom: 1px solid lightgrey;
}

p {
  color: $wine;
}

.details > a {
  background-color: $wine;
  color: white;
  padding: 5px;
  margin: 5px 0px 0px 15px;
  border-radius: 5px;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.5s;
  }

  .details > a:hover {
    opacity: 0.7;
    transition: opacity 0.5s;




/* Form End */
















/* All Cards Start */
.restaurant_card, .login_card, .user_card, .new_restaurant_card, .restaurant_details_card, .reservation_card, .menu_item_card {
    background: #F8F8FF;
    border-radius: 20px;
    padding: 20px;
    margin: 50px auto;
    width: 50vw;
    color: black;
    // box-shadow: 2px 2px 10px black;
    position: relative;
}

.login_card, .menu_item_card {
    width: 25vw;
}

/* All Cards End */












.users_loyalty_points {
    position: absolute;
    right: 30px;
    top: 30px;
}




// div > p {
//     line-height: 1.5;
//   }



  .error_explanation {

  }
