.reservation-form {
  font-family: Graphik, Helvetica, sans-serif;
  font-weight: lighter;
  border: 4px solid #AF9C7B;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 215px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
}

.reservation-title {
  color: #747474;
  font-size: 25px;
  font-weight: lighter;
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  font-family: Graphik, Helvetica, sans-serif;
}

footer {
  background-color: #AF9C7B;
  color: white;
}
