// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.restaurant_card {
  background-color: orange;
  border: 5px solid white;
}

img .link-photo {
  width: 20%;
}
