// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5 > a{
  position: relative;
  right: 0;
}

.index-restaurant {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-gap: 1em;

  .picture {
    width: 100%;
  }

  .info {
    padding: 1.5em;

    .name {
      margin: 0.5em 0;
    }

    .summary, .address {
      display: none;
    }

    .neighbourhood, .price_range {
      font-size: 0.75em;
    }
  }

  .menu {
    display: none;
  }

}

.show-restaurant  {
  img {
    width: 100%;
  }
}

.new-restaurant {


}
