* {
  padding: 10px;
}
ul {
  text-align: center;
  padding: 5px;
}
.title {
  margin-left: 1%;
  display: inline-block;
  font-size: 30px;
  padding-bottom: 20px;
}
.svg {
  height: 30px;
  width: 30px;
  display: inline-block;
}
div > p {
  line-height: 1.5;
}
.container {
  text-align: center;
}
.left {
  display: inline-block;
  text-align: left;
}
