<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <link rel='stylesheet' type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top-head">
<!-- This is the NavBar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <i class="fa fa-cutlery" aria-hidden="true"></i> <span id="brand-icon">ResturRat</span>
        </a>
        <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Login</a> or <a href="#" class="navbar-link">Sign up</a>    < RUBY HERE TO SPLIT IF OR BLAH >     Signed in as <a href="#" class="navbar-link">user.first_name user.last_name</a></p>
      </div>
    </div>
  </nav>
</div>
<!-- THIS PART IS FOR THE TOP IMAGE AND STUFF -->

<%= yield %>
<div class="container">
    <div class="row pull-right">
      <h3> Find us at</h3>
      <a href="#"> <i class=" fa fa-facebook">   </i> </a>
      <a href="#"> <i class="fa fa-twitter">   </i> </a>
      <a href="#"> <i class="fa fa-google-plus">   </i> </a>
    </div>
</div>
<div class="container">
    <p class="pull-left">Copyright © Empire-Strikes#TeamJohnny5. All right reserved. </p>
</div>
</body>
</html>
